RUBIKA_BOT_TOKEN=YOUR_RUBIKA_BOT_TOKEN
RUBIKA_MODE=polling
RUBIKA_WEBHOOK_SECRET=CHANGE_TO_A_LONG_RANDOM_VALUE
RUBIKA_ADMIN_ID=
RUBIKA_ADMIN_CHAT_ID=

DB_HOST=db
DB_PORT=5432
DB_NAME=atomic_rubika
DB_USER=postgres
DB_PASSWORD=CHANGE_TO_A_LONG_RANDOM_PASSWORD

BOT_DOMAIN=rubika.atomicshop.ir
PAYMENT_CALLBACK_BASE=https://rubika.atomicshop.ir
WEB_PORT=8081
# مرچنت زرین‌پال؛ از پنل هم با /setting zarinpal_merchant_id UUID قابل تغییر است
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=0
MAX_PAYMENT_AMOUNT=100000000
ORDER_PAYMENT_TTL_MINUTES=15

CARD_TRANSFER_NUMBER=
CARD_TRANSFER_HOLDER=
CARD_TRANSFER_BANK=

G2BULK_API_KEY=
G2BULK_GAME_CODE=freefire_me
USD_TOMAN_RATE=
